node_modules
/build
/.cache
.env
.env.*
!.env.example
/prisma/*.db
.shopify
*.log
.DS_Store

# Written by `shopify app config link` with a real client_id, tunnel URL and dev store.
# Start from shopify.app.example.toml instead.
shopify.app.toml
